body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #181a1b;
  width: 100vw;
  height: 100vh;
  color: white;
  margin: 0 auto;
}

.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

#choice{
  display: flex;
  gap: 10px;
  width: 400px;
}