.menuButton{
    width: 200px;
    height: 50px;
    padding: 10px;
    background-color: #333343;
    border: none;
    color: white;
    transition: 0.15s ease-in-out;
}

.menuButton:hover{
    background-color: #4e4e4e;
    cursor: pointer;
}